@font-face {
  font-family: 'NT Somic';
  src:
    url('/fonts/NTSomic-Regular.woff2') format('woff2'),
    url('/fonts/NTSomic-Regular.ttf') format('truetype'),
    url('/fonts/NTSomic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NT Somic';
  src:
    url('/fonts/NTSomic-Bold.woff2') format('woff2'),
    url('/fonts/NTSomic-Bold.ttf') format('truetype'),
    url('/fonts/NTSomic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NT Somic';
  src:
    url('/fonts/NTSomic-Medium.woff2') format('woff2'),
    url('/fonts/NTSomic-Medium.ttf') format('truetype'),
    url('/fonts/NTSomic-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'NT Somic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.textArea::placeholder {
  color: #c7d3c5;
}
